@{
    Layout=null;

    string message_display;
    if (ViewBag.Message == null)
    {
        message_display = "none";
    }
    else
    {
        message_display = "block";
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Othello - @ViewBag.Title</title>

    <!--Iconos-->
    <link rel="icon"
          type="image/png"
          sizes="32x32"
          href="../wwwroot/images/favicons/favicon-32x32.png" />
    <link rel="icon"
          type="image/png"
          sizes="16x16"
          href="../wwwroot/images/favicons/favicon-16x16.png" />

    <!--Fuentes-->
    <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css"
          rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700"
          rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap"
          rel="stylesheet" />

    <!--Scripts-->
    <script type="text/javascript" src="~/wwwroot/scripts/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="~/wwwroot/scripts/all-plugins.js"></script>
    <script type="text/javascript" src="~/wwwroot/scripts/plugin-active.js"></script>

    <!--Estilo-->
    <link rel="stylesheet" type="text/css" href="~/wwwroot/styles/style.css" />
    <link rel="stylesheet" type="text/css" href="~/wwwroot/styles/custom-responsive-style.css" />

    <script>

        function hide_message() {
            document.getElementById("message").style.display = "none";
        }

        function toggle_menu(id) {
            if (document.getElementById(id).style.display == "block") {
                document.getElementById(id).style.display = "none";
            }
            else {
                document.getElementById(id).style.display = "block";
            }
        }

    </script>

</head>

  <body style="background-color: black">
    <!-- NAVEGACION -->
    <header id="Header">
        <nav class="main-navigation">
            <div class="@ViewBag.MessageType" id="message" style="display:@message_display">@Html.Raw(ViewBag.Message) <i class="fa fa-arrow-right" aria-hidden="true" onclick="hide_message()"></i></div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                        <div class="logo">
                            <a href="~/Home/Menu" class="logo">Othello</a>
                        </div>
                    </div>

                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-2 col-xl-2 op">
                        <a href="#" onclick="toggle_menu('Menu_solo')"><i class="fa fa-arrow-right" aria-hidden="true"></i>     Solo</a>
                        <div id="Menu_solo">
                            <ul>
                                <li id="f_b">@Html.ActionLink("Ficha blanca","Solo","Game",new { ficha_inicial="blanca" }, new { @class="subop" })</li>
                                <li id="f_n">@Html.ActionLink("Ficha negra", "Solo", "Game", new { ficha_inicial = "negra" }, new { @class = "subop" })</li>
                                <li id="f_a">@Html.ActionLink("Ficha aleatoria", "Solo", "Game", new { ficha_inicial = "aleatoria" }, new { @class = "subop" })</li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-2 col-xl-2 op">
                        <a href="#" onclick="toggle_menu('Menu_versus')"><i class="fa fa-arrow-right" aria-hidden="true"></i>     Versus</a>
                        <div id="Menu_versus">
                            <ul>
                                <li id="f_b">@Html.ActionLink("Ficha blanca", "Versus", "Game", new { ficha_inicial = "blanca" }, new { @class = "subop" })</li>
                                <li id="f_n">@Html.ActionLink("Ficha negra", "Versus", "Game", new { ficha_inicial = "negra" }, new { @class = "subop" })</li>
                                <li id="f_a">@Html.ActionLink("Ficha aleatoria", "Versus", "Game", new { ficha_inicial = "aleatoria" }, new { @class = "subop" })</li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-2 col-xl-2 op">
                        <a href="#" onclick="toggle_menu('Menu_torneos')"><i class="fa fa-arrow-right" aria-hidden="true"></i>     Torneo</a>
                        <div id="Menu_torneos">
                            <ul>
                                <li id="f_b">@Html.ActionLink("Ficha blanca", "Torneos", "Game", new { ficha_inicial = "blanca" }, new { @class = "subop" })</li>
                                <li id="f_n">@Html.ActionLink("Ficha negra", "Torneos", "Game", new { ficha_inicial = "negra" }, new { @class = "subop" })</li>
                                <li id="f_a">@Html.ActionLink("Ficha aleatoria", "Torneos", "Game", new { ficha_inicial = "aleatoria" }, new { @class = "subop" })</li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-2 col-xl-2 op user-logged">
                        <a href="#">  @Globals.usuario_activo</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <!-- FIN DE NAVEGACION -->

    @RenderBody()

    <!-- FOOTER -->
    <footer id="Footer">
      <div class="container text-center">
        <div class="footer-text">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
              <div class="copy-right">
                <p>Pablo Fernando Cabrera Pineda - 201901698</p>
              </div>
            </div>
            <div
              class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-right"
            >
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <p class="designed">
                Designed by
                <a href="https://www.position2.com/" target="_blank"
                  >Position2</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- FIN DEL FOOTER -->
  </body>
</html>
