@model IPC2_P1.Models.Ronda
@{
    ViewBag.Title = "Sala";
    Layout = "~/Views/Shared/_Layout_no_nav.cshtml";

    string[] top = new string[16], left = new string[16];
    if (Model.Numero_equipos == 2)
    {
        System.Diagnostics.Debug.WriteLine("PRUEBA: 2");
        top = new string[]
    {
"227px",
"227px"
    };

        left = new string[]
        {
"358px",
"368px"
        };
    }
    else if (Model.Numero_equipos == 4)
    {
        top = new string[]
        {
"125px",
"280px",
"125px",
"280px"
        };

        left = new string[]
        {
"285px",
"100px",
"265px",
"80px"
        };
    }
    else if (Model.Numero_equipos == 8)
    {
        top = new string[]
        {
"123px",
"173px",
"257px",
"305px",
"123px",
"147px",
"232px",
"281px"
        };

        left = new string[]
        {
"190px",
"5px",
"-180px",
"-364px",
"-35px",
"302px",
"517px",
"332px"
        };
    }
    else if (Model.Numero_equipos == 16)
    {
        top = new string[]
        {
"89px",
"118px",
"160px",
"192px",
"236px",
"245px",
"284px",
"315px",
"63px",
"95px",
"111px",
"143px",
"188px",
"220px",
"261px",
"269px"
        };

        left = new string[]
        {
"98px",
"-86px",
"-270px",
"-453px",
"-637px",
"98px",
"-86px",
"-270px",
"265px",
"81px",
"818px",
"635px",
"451px",
"267px",
"83px",
"820px"
        };
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="“X-UA-Compatible”" content="'IE' ='edge'" />
    <script>
        function Pasar(text) {
            document.getElementById('ganador').value = text;
        }
    </script>
</head>

<body>
    <section id="Gain">

        <div class="container">
            <div class="title text-center">
                <h2>@Model.Nombre_campeonato</h2>
            </div>
        </div>

        @if (Model.Numero_equipos == 2)
        {
            <div class="torneo" style="background: url('../wwwroot/images/campeonato_2.png')">
                @for (int i = 0; i < Model.Numero_equipos; i++)
                {
                    <span class="equipo" style="top: @top[i]; left: @left[i]">@Model.Equipos[i].Nombre_equipo</span>
                }
            </div>
        }
        else if (Model.Numero_equipos == 4)
        {
            <div class="torneo" style="background: url('../wwwroot/images/campeonato_4.png')">
                @for (int i = 0; i < Model.Numero_equipos; i++)
                {
                    <span class="equipo" style="top: @top[i]; left: @left[i]">@Model.Equipos[i].Nombre_equipo</span>
                }
            </div>
        }
        else if (Model.Numero_equipos == 8)
        {
            <div class="torneo" style="background: url('../wwwroot/images/campeonato_8.png')">
                @for (int i = 0; i < Model.Numero_equipos; i++)
                {
                    <span class="equipo" style="top: @top[i]; left: @left[i]">@Model.Equipos[i].Nombre_equipo</span>
                }
            </div>
        }
        else if (Model.Numero_equipos == 16)
        {
            <div class="torneo" style="background: url('../wwwroot/images/campeonato_16.png')">
                @for (int i = 0; i < Model.Numero_equipos; i++)
                {
                    <span class="equipo" style="top: @top[i]; left: @left[i]">@Model.Equipos[i].Nombre_equipo</span>
                }
            </div>
        }


        @using (Html.BeginForm("Sala", "Torneo", FormMethod.Post))
        {
            <div style="display:none">
                <input type="text" name="Nombre_campeonato" value="@Model.Nombre_campeonato" />
                <input type="number" name="Numero_equipos" value="@Model.Numero_equipos" />
                <input type="number" name="Numero_partidas" value="@Model.Numero_partidas" />

                <input type="number" name="index" value="@Model.index" />

                @for (int j = 0; j < Model.Numero_equipos; j++)
                {
                    <input type="text" name="Equipos[@j].Nombre_equipo" value="@Model.Equipos[j].Nombre_equipo" />
                    <input type="text" name="Equipos[@j].j1" value="@Model.Equipos[j].j1" />
                    <input type="text" name="Equipos[@j].j2" value="@Model.Equipos[j].j2" />
                    <input type="text" name="Equipos[@j].j3" value="@Model.Equipos[j].j3" />
                    <input type="text" name="Equipos[@j].puntos" value="@Model.Equipos[j].puntos" />
                }

                <input type="text" name="Equipo1.Nombre_equipo" value="@Model.Equipo1.Nombre_equipo" />
                <input type="text" name="Equipo1.j1" value="@Model.Equipo1.j1" />
                <input type="text" name="Equipo1.j2" value="@Model.Equipo1.j2" />
                <input type="text" name="Equipo1.j3" value="@Model.Equipo1.j3" />

                <input type="text" name="Equipo2.Nombre_equipo" value="@Model.Equipo2.Nombre_equipo" />
                <input type="text" name="Equipo2.j1" value="@Model.Equipo2.j1" />
                <input type="text" name="Equipo2.j2" value="@Model.Equipo2.j2" />
                <input type="text" name="Equipo2.j3" value="@Model.Equipo2.j3" />

                @for (int j = 0; j < Model.Partidas.Count; j++)
                {
                    <input type="text" name="Partidas[@j].Jugador1" value="@Model.Partidas[j].Jugador1" />
                    <input type="text" name="Partidas[@j].Jugador2" value="@Model.Partidas[j].Jugador2" />
                    <input type="number" name="Partidas[@j].Puntos1" value="@Model.Partidas[j].Puntos1" />
                    <input type="text" name="Partidas[@j].Puntos2" value="@Model.Partidas[j].Puntos2" />
                    <input type="text" name="Partidas[@j].Ganador" value="@Model.Partidas[j].Ganador" />

                    <input type="number" name="Partidas[@j].index" value="@Model.Partidas[j].index" />
                }

                <input type="text" name="Partida_actual.Jugador1" value="@Model.Partida_actual.Jugador1" />
                <input type="text" name="Partida_actual.Jugador2" value="@Model.Partida_actual.Jugador2" />
                <input type="number" name="Partida_actual.Puntos1" value="@Model.Partida_actual.Puntos1" />
                <input type="text" name="Partida_actual.Puntos2" value="@Model.Partida_actual.Puntos2" />
                <input type="text" name="Partida_actual.Ganador" value="@Model.Partida_actual.Ganador" />

                <input type="number" name="Partida_actual.index" value="@Model.Partida_actual.index" />

            </div>

            <div class="container">
                <div class="title text-center">
                    <div style="background-color:rgba(0, 0, 0, 0.75); color:white; border-radius:15px">
                        <hr />
                        <p>Ronda @(Model.index + 1): @Model.Equipo1.Nombre_equipo VS @Model.Equipo2.Nombre_equipo</p>
                        <p>Partida @(Model.Partida_actual.index + 1): @Model.Partida_actual.Jugador1 VS @Model.Partida_actual.Jugador2</p>
                        <hr />
                        <input type="submit" value="Iniciar partida" />
                        <hr />
                        <input type="submit" value="Gana @Model.Partida_actual.Jugador1" formaction="Pasar" onclick="Pasar('1')"/>
                        <input type="submit" value="Gana @Model.Partida_actual.Jugador2" formaction="Pasar" onclick="Pasar('2')"/>
                        <input type="text" value="" id="ganador" name="ganador" />
                        <hr />
                    </div>
                </div>
            </div>
        }

        <div class="container">
            <div class="title text-center">
                <div style="background-color:rgba(0, 0, 0, 0.75); color:white; border-radius:15px">
                    <hr />
                    <p>Equipo @(Model.Equipos.FindIndex(x => x == Model.Equipo1) + 1): @Model.Equipo1.Nombre_equipo</p>
                    <p>Integrantes:</p>
                    <p>@Model.Equipo1.j1<br />@Model.Equipo1.j2<br />@Model.Equipo1.j3</p>
                    <hr />
                </div>
            </div>
        </div>

        <div class="container">
            <div class="title text-center">
                <div style="background-color:rgba(0, 0, 0, 0.75); color:white; border-radius:15px">
                    <hr />
                    <p>Equipo @(Model.Equipos.FindIndex(x => x == Model.Equipo2) + 1): @Model.Equipo2.Nombre_equipo</p>
                    <p>Integrantes:</p>
                    <p>@Model.Equipo2.j1<br />@Model.Equipo2.j2<br />@Model.Equipo2.j3</p>
                    <hr />
                </div>
            </div>
        </div>

    </section>
</body>
</html>