@model List<Ficha>
@{
    ViewBag.Title = "Versus";
    Layout = "~/Views/Shared/_Layout_logged_in_no_nav.cshtml";

    string[] ids = {
"A1", "B1", "C1", "D1", "E1", "F1", "G1", "H1",
"A2", "B2", "C2", "D2", "E2", "F2", "G2", "H2",
"A3", "B3", "C3", "D3", "E3", "F3", "G3", "H3",
"A4", "B4", "C4", "D4", "E4", "F4", "G4", "H4",
"A5", "B5", "C5", "D5", "E5", "F5", "G5", "H5",
"A6", "B6", "C6", "D6", "E6", "F6", "G6", "H6",
"A7", "B7", "C7", "D7", "E7", "F7", "G7", "H7",
"A8", "B8", "C8", "D8", "E8", "F8", "G8", "H8"};

}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="“X-UA-Compatible”" content="'IE' ='edge'" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>

        var ids = ["A1", "B1", "C1", "D1", "E1", "F1", "G1", "H1",
            "A2", "B2", "C2", "D2", "E2", "F2", "G2", "H2",
            "A3", "B3", "C3", "D3", "E3", "F3", "G3", "H3",
            "A4", "B4", "C4", "D4", "E4", "F4", "G4", "H4",
            "A5", "B5", "C5", "D5", "E5", "F5", "G5", "H5",
            "A6", "B6", "C6", "D6", "E6", "F6", "G6", "H6",
            "A7", "B7", "C7", "D7", "E7", "F7", "G7", "H7",
            "A8", "B8", "C8", "D8", "E8", "F8", "G8", "H8"];


        function actualizar(id) {

            if (document.getElementById("I_" + id).value == "blanca") {
                document.getElementById(id).style.backgroundImage = "url('../wwwroot/images/ficha_b.jpg')";
            }
            else
                if (document.getElementById("I_" + id).value == "negra") {
                    document.getElementById(id).style.backgroundImage = "url('../wwwroot/images/ficha_n.jpg')";
                }
        }

        function fichaColocada(id, color) {
            if (document.getElementById("I_" + id).value == "") { //NOTA: VALIDAR DE QUIEN ES EL TURNO
                document.getElementById("I_" + id).value = color;
                document.getElementById("R_" + id).value = "true";
                actualizar(id);
            }
        }


    </script>
</head>

<body onload="ids.forEach(actualizar)">
    <!-- AREA DE JUEGO -->
    <section id="Game">

        <asp:UpdatePanel ID="OrdersPanel" UpdateMode="Conditional" runat="server">
            @using (Html.BeginForm("Versus", "Game", FormMethod.Post))
            {
                <div id="turno">
                    El turno es de @Model[64].presionado<br />
                    @Globals.usuario_activo: @Model[64].mov1 movimientos<br />
                    Oponente: @Model[64].mov2 movimientos
                </div>


                <div class="row">
                    <div id="GameBoard" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div id="GameTable">

                            @using IPC2_P1.Models
                            @{
                                int count = 0;

                                for (int i = 0; i < 8; i++)
                                {

                                    <div class='row fila'>

                                        @for (int j = 0; j < 8; j++)
                                        {

                                            <input type='submit' value="" class='col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda' id='@ids[count]' onclick='fichaColocada("@ids[count]", "@Model[64].valor")' />
                                            <input type='text' name="[@count].valor" id='I_@ids[count]' value='@Model[count].valor' />
                                            <input type="text" name="[@count].presionado" id='R_@ids[count]' value="false" style="display:none" />
                                            count += 1;
                                        }

                                    </div>
                                }
                                <input type="text" name="[64].valor" value="@Model[64].valor" style="display:none" />
                                <input type="text" name="[64].presionado" value="@Model[64].presionado" style="display:none" />
                                <input type="text" name="[64].mov1" value="@Model[64].mov1" style="display:none" />
                                <input type="text" name="[64].mov2" value="@Model[64].mov2" style="display:none" />
                            }
                        </div>
                    </div>
                </div>

                <div class="row xml-save-row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <button formaction="Descargar" class="xmlbtn" id="xml-guardar" type="submit">  Guardar archivo XML.. </button>
                    </div>
                </div>

            }
        </asp:UpdatePanel>

            @using (Html.BeginForm("Load", "Game", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="row xml-load-row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <input class="xmlbtn" type="file" name="archivo" accept=".xml">
                        <button class="xmlbtn" id="xml-cargar" type="submit">  Cargar archivo XML.. </button>
                        <input type="text" name="valor" value="@Model[64].valor" style="display:none" />
                        <input type="text" name="usuario" value="@Model[64].presionado" style="display:none" />
                        <input type="text" name="action" value="Versus" style="display:none" />
                    </div>
                </div>
            }

            <!-- FIN DE AREA DE JUEGO -->
        </section>
</body>
</html>