@model IPC2_P1.Models.Tablero
@{
    ViewBag.Title = "Xtream";
    Layout = "~/Views/Shared/_Layout_no_nav.cshtml";

    string juego_terminado = "false";
    string width = (50 * Model.columnas).ToString()+"px";
    string height = (50 * Model.filas).ToString()+"px";
    string celda_w = ((50 * Model.columnas - 70) / Model.columnas).ToString()+"px";
    string celda_h = ((50 * Model.filas - 70) / Model.filas).ToString()+"px";


    string cronometro = "";
    if (Model.usuario == Globals.usuario_activo)
    {
        cronometro = Model.cronometro.ToString();
    }
    else
    {
        cronometro = Model.cronometro_oponente.ToString();
    }

    try
    {
        if (ViewBag.Message.StartsWith("¡El juego ha terminado!") == true)
        {
            juego_terminado = "true";
        }
    }
    catch { }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="“X-UA-Compatible”" content="'IE' ='edge'" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>

        var contador, segundos;
        var columnas = ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S", "T"];
        var filas = ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20"];
        var ids = [];

        for (i = 0; i < @Model.filas; i++)
            for (j = 0; j < @Model.columnas; j++)
                ids.push(columnas[j] + filas[i]);

        function init() {
            ids.forEach(actualizar);

            if (@juego_terminado==false) {
                contador = setInterval(cronometro, 1000);
                segundos = @cronometro;
            }
            else {
                document.getElementById("cronometro").innerHTML = "-----------------------------------";
            }
        }

        function cronometro() {
            document.getElementById("cronometro").innerHTML = segundos + " segundos";
            segundos++;
        }

        function actualizar(id) {

            var color = document.getElementById("I_" + id).value;

            switch (color) {

                case "rojo":
                    document.getElementById(id).style.backgroundImage = "url('../wwwroot/images/ficha_rojo.jpg')";
                    break;

                case "amarillo":
                    document.getElementById(id).style.backgroundImage = "url('../wwwroot/images/ficha_amarillo.jpg')";
                    break;

                case "azul":
                    document.getElementById(id).style.backgroundImage = "url('../wwwroot/images/ficha_azul.jpg')";
                    break;

                case "anaranjado":
                    document.getElementById(id).style.backgroundImage = "url('../wwwroot/images/ficha_anaranjado.jpg')";
                    break;

                case "verde":
                    document.getElementById(id).style.backgroundImage = "url('../wwwroot/images/ficha_verde.jpg')";
                    break;

                case "violeta":
                    document.getElementById(id).style.backgroundImage = "url('../wwwroot/images/ficha_violeta.jpg')";
                    break;

                case "blanco":
                    document.getElementById(id).style.backgroundImage = "url('../wwwroot/images/ficha_blanco.jpg')";
                    break;

                case "negro":
                    document.getElementById(id).style.backgroundImage = "url('../wwwroot/images/ficha_negro.jpg')";
                    break;

                case "celeste":
                    document.getElementById(id).style.backgroundImage = "url('../wwwroot/images/ficha_celeste.jpg')";
                    break;

                case "gris":
                    document.getElementById(id).style.backgroundImage = "url('../wwwroot/images/ficha_gris.jpg')";
                    break;
            }
        }

        function fichaColocada(id, color) {
            if (document.getElementById("I_" + id).value == "") { //NOTA: VALIDAR DE QUIEN ES EL TURNO
                document.getElementById("I_" + id).value = color;
                document.getElementById("R_" + id).value = "true";
                actualizar(id);
            }

            if ("@Model.usuario" == "@Globals.usuario_activo") {
                document.getElementById("cronometro1").value = segundos;
            }
            else {
                document.getElementById("cronometro2").value = segundos;
            }
        }

    </script>
</head>

<body onload="init()">
    <!-- AREA DE JUEGO -->
    <section id="Game">

        <asp:UpdatePanel ID="OrdersPanel" UpdateMode="Conditional" runat="server">
            @using (Html.BeginForm("Xtream", "Game", FormMethod.Post))
            {
                <div id="turno">
                    El turno es de @Model.usuario <br/>
                    @Globals.usuario_activo: @Model.movimientos movimientos<br />
                    Oponente: @Model.movimientos_oponente movimientos<br />
                    <span id="cronometro">-----------------------------------</span>

                </div>


                <div class="row">
                    <div id="XGameBoard" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="width:@width; height:@height">
                        <div id="XGameTable">

                            @using IPC2_P1.Models
                            @{
                                int count = 0;

                                for (int i = 0; i < Model.filas; i++)
                                {
                                    <div class='row fila'>

                                        @for (int j = 0; j < Model.columnas; j++)
                                        {
                                            <input type='submit' style="width: @celda_w; height: @celda_h" value="" class='col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda' id='@Globals.columnas[j]@Globals.filas[i]' onclick='fichaColocada("@Globals.columnas[j]@Globals.filas[i]", "@Model.color")' />
                                            <input type='text' name="fichas[@count].color" id='I_@Globals.columnas[j]@Globals.filas[i]' value='@Model.fichas[count].color' />
                                            <input type="text" name="fichas[@count].presionado" id='R_@Globals.columnas[j]@Globals.filas[i]' value="false" style="display:none" />
                                            count += 1;
                                        }

                                    </div>
                                }

                                <input type="number" id="cronometro1" name="cronometro" value="@Model.cronometro" style="display:none" />
                                <input type="number" id="cronometro2" name="cronometro_oponente" value="@Model.cronometro_oponente" style="display:none" />

                                <select name="colores" style="display:none" multiple>
                                    @foreach (string color in Model.colores)
                                    {
                                        <option value="@color" selected>@color</option>
                                    }
                                </select>
                                <select name="colores_oponente" style="display:none" multiple>
                                    @foreach (string color in Model.colores_oponente)
                                    {
                                        <option value="@color" selected>@color</option>
                                    }
                                </select>
                                
                                <input type="number" name="colores_index" value="@Model.colores_index" style="display:none" />
                                <input type="number" name="colores_oponente_index" value="@Model.colores_oponente_index" style="display:none" />

                                <input type="text" name="juego" value="@Model.juego" style="display:none" />

                                <input type="text" name="color" value="@Model.color" style="display:none" />
                                <input type="text" name="columnas" value="@Model.columnas" style="display:none" />
                                <input type="text" name="filas" value="@Model.filas" style="display:none" />
                                <input type="text" name="usuario" value="@Model.usuario" style="display:none" />
                                <input type="text" name="movimientos" value="@Model.movimientos" style="display:none" />
                                <input type="text" name="movimientos_oponente" value="@Model.movimientos_oponente" style="display:none" />
                                <input type="text" name="modalidad" value="@Model.modalidad" style="display:none" />
                                <input type="text" name="apertura_personalizada" value="@Model.apertura_personalizada" style="display:none" />
                                <input type="text" name="action" value="Xtream" style="display:none" />
                            }
                        </div>
                    </div>
                </div>

                <div class="row xml-save-row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <button formaction="Descargar" class="xmlbtn" id="xml-guardar" type="submit">  Guardar archivo XML.. </button>
                    </div>
                </div>

            }
        </asp:UpdatePanel>

            @using (Html.BeginForm("Cargar", "Game", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="row xml-load-row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <input class="xmlbtn" type="file" name="archivo" accept=".xml">
                        <button class="xmlbtn" id="xml-cargar" type="submit">  Cargar archivo XML.. </button>
                        <input type="text" name="color" value="@Model.color" style="display:none" />
                        <input type="text" name="usuario" value="@Model.usuario" style="display:none" />
                        <input type="text" name="tablero_variable" value="false" style="display:none" />
                        <input type="text" name="action" value="Xtream" style="display:none" />
                    </div>
                </div>
            }

            <!-- FIN DE AREA DE JUEGO -->
        </section>
</body>
</html>